$breakpoint-desktop: 1099px;
$breakpoint-tablet: 800px;
$cc-center-max-width: 500px;

// Mobile
.cross-container {
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-desktop;
  margin: auto;
  > div {
    overflow-x: hidden;
  }
  > .left {
    flex: 1;
    order: 2;
    text-align: left;
  }
  > .center {
    flex: 1;
    order: 1;
    text-align: left;

    > div {
      max-width: $cc-center-max-width;
      margin: auto;
    }
  }
  > .right {
    text-align: left;

    display: none;
  }
}

// Tablet
@media (min-width: $breakpoint-tablet) {
  .cross-container {
    display: flex;
    flex-direction: row;
    > .left {
      flex: 1;
      order: 1;
    }
    > .center {
      flex: 2;
      order: 2;
      > div {
        max-width: $cc-center-max-width;
        margin: auto;
      }
    }
    > .right {
      display: none;
    }
  }
}

// Desktop
@media (min-width: $breakpoint-desktop) {
  .cross-container {
    display: flex;
    flex-direction: row;
    > .left {
      flex: 1;
      order: 1;
    }
    > .center {
      flex: 2;
      order: 2;
      > div {
        max-width: $cc-center-max-width;
        margin: auto;
      }
    }
    > .right {
      flex: 1;
      order: 2;
      display: block;
    }
  }
}
